.text{
    text-align: left;
    width: 250px;
    float: right;
    margin: block;
    padding: 3px;
    font-size: 18px;
    
}
body{
    font-family:sans-serif;
}
.projects{
    text-align: left;
    float: left;
    width: 250px;
    padding: 18px;
    

}

.all{
    text-align: right;
    align-content: center
}


li{
    text-decoration: underline;
    

