body{
    text-align: left;
    font-style: oblique;
    font-family: Arial;
    line-height: 30px
}
.navigation{
    list-style-type: none;
}
h1{
    font-size: 34px;
    text-align: center;
    text-decoration-color: black;
    block-size: 12px;
    word-spacing: 3px;
    padding: 30px;
}
.text{
    text-align: justify;
    float: right;
    display: inline
}
.projects{
    float: left;
    text-align: left
    
}
img{
    float: right;
    ]}
