body{
    font-style: oblique;
    font-family: sans-serif;
    line-height: 30px
}
.navigation{
    list-style-type: none;
}
h1{
    font-size: 50px;
    text-align: center;
    block-size: 12px;
    word-spacing: 3px;
    padding: 30px;
}
.projects{
text-align:left;
float:left;
width:250px;
padding:18px;

}

img{
    float: right;
}
.text{
    float:left;
    padding-block-end: 16px;
    margin

}
